:root {
    --gradient-primary: #d08;
    --gradient-second: #25d
}

/* STYLE GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(var(--gradient-primary), var(--gradient-second));
}

/* NAVIGATION */

.navigation {
    text-align: center;
}

.navigation__list {
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    background-color: #ffffff33;
    display: inline-flex;
    list-style: none;
    max-width: 80vw;
    overflow: auto;
}

.navigation__list a {
    text-decoration: none;
    color: #000;
}

.navigation__list__items {
    position: relative;
    padding: 0 0.5rem;
    border-bottom: 0;
    transition: border-bottom-width 1s ease;
}

.navigation__list__items::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: linear-gradient(var(--gradient-primary), var(--gradient-second));
    transition: width 300ms ease;
}

.navigation__list__items:hover::after {
    width: 100%;
    transition: width 1s ease;
}

/* INICIO */

.content {
    margin: 0 2rem;
}

.content .inicio {
    display: flex;
    /* align-items: baseline; */
    justify-content: space-around;
    height: 90vh;
}

.perfil__img {
    margin-top: 3rem;
    width: 40vw;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name__names a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
}

.arrow i {
    color: #000;
    font-size: 3rem;
    animation: rebotar 1s ease-in-out alternate infinite;
}

/* CONOCEME */

.section h2 {
    text-align: center;
    margin: 1rem 0;
    color: #fff;
    letter-spacing: 0.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.conoceme p {
    margin: 0 2rem;
    color: #fff;
    line-height: 2rem;
    text-align: center;
    font-family: "Kode Mono", monospace;
}

.conoceme__arrow {
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.conoceme__arrow i {
    cursor: pointer;
}

.conoceme__option {
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

.conoceme__options {
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #ccc;
    font-size: 0.9rem;
}

/* FOOTER */

.footer {
    margin: 0 2rem;
    position: fixed;
    width: 90vw;
    bottom: 2rem;
    display: none; /* QUITAR DESPUÉS */
    justify-content: space-between;
    align-items: baseline;
}

.footer-button {
    padding: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: linear-gradient(var(--gradient-primary), var(--gradient-second));
}

.footer-social {
    padding: 0.5rem 1rem;
    background: linear-gradient(var(--gradient-primary), var(--gradient-second));
    border-radius: 20px;
}

.footer-social a {
    color: #000;
    margin: 0 0.2rem;
}

/* Conocimientos */

.conoc__languages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.languages__icon {
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    user-select: none;
}

.conoc__languages .html {
    font-family: monospace;
}

.conoc__languages .css {
    font-weight: 100;
    letter-spacing: 0.6rem;
    background-color: #00f;
    border-radius: 5px;
    color: #fff
}

.conoc__languages .Javascript span {
    margin: 0 3px;
}

.conoc__languages .Javascript {
    cursor: default;
}

.conoc__languages .Javascript span:hover {
    color: #ff0;
}

.conoc__languages .python {
    background-image: linear-gradient(to right, #0f0, #ab0);
    background-clip: text;
    color: transparent;
}

.conoc__languages .sql, .conoc__languages .git {
    cursor: pointer;
}

/* KEYFRAMES */

@keyframes rebotar {
    0% {
        transform: translate(0px, -10px);
    }
    100% {
        transform: translate(0px, 10px);
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes desplazar {
    100% {
        transform: translateX(10px);
    }
}

@keyframes arcoiris {
    0% {
        color: #fb0;
    }
    20% {
        color: #2bb
    }
    40% {
        color: #0f0;
    }
    60% {
        color: #ff0;
    }
    80% {
        color: #bbb
    }
    100% {
        color: #f0f;
    }
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
    .content .inicio {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .perfil__img {
        margin: 0 0 2rem 0;
        width: 30vw;
        height: 30vh;
    }

    .conoceme__options {
        margin: 0 0 1rem 0;
    }
}